<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.vydia.RNUploader">

 <application>
        <!-- Other stuff if needed -->

        <provider
            android:name="com.vydia.RNUploader.UploadInitProvider"
            android:authorities="${applicationId}.rnuploadinitprovider"
            android:exported="false"
            android:multiprocess="false" />
    </application>
</manifest>
